<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}TropiCamps STAFF{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="active navbar-brand" href="{{ path('tca_homepage') }}">TropiCamps Staff</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('tca_ref') }}">Réfugiés</a></li>
            <li><a href="{{ path('tca_camp') }}">Camps</a></li>
            <li><a href="{{ path('tca_stock') }}">Stock</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('tc_homepage') }}">Retour au site</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% block main %}{% endblock %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>

