{% extends "TropiCampsBundle:Staff:layout.html.twig" %}

{% block title %}
    {{ parent() }} Admin-stock
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}


{% block main %}
<div class="container" style="padding-top:70px">
    {% if productName is defined %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Ajouté!</strong> Le stock "{{ productName }}" est bien été créé.
    </div>
    {% endif %}
    <div class="row">
        <button type="button" class="btn btn-primary btn-lg center-block" data-toggle="modal" data-target="#trouver" style="margin:40px auto">
            Ajouter un type de stock
        </button>
    </div>
    <h1>Stock par camp</h1>
    <table class="table table-striped">
        <thead> 
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Population</th>
                <th>Voir</th>
            </tr>
        </thead> 
        <tbody>
            {% for camp in camps %}
            <tr>
                <th scope="row">{{ camp.id }}</th>
                <td>{{ camp.name }}</td>
                <td>{{ camp.nbRefugie }}</td>
                <th><a href="{{ path('tca_stock_page',{'id':camp.id}) }}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


    <!-- Modal -->
    <div class="modal fade" id="trouver" tabindex="-1" role="dialog" aria-labelledby="trouverLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="trouverLabel">Ajouter un type de stock</h4>
          </div>
          <div class="modal-body">
                {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary center-block">Ajouter</button>
                {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>


{% endblock %}