{% extends "TropiCampsBundle:Public:layout.html.twig" %}

{% block title %}
    {{ parent() }} hey!
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}


{% block main %}
    <div id="map" style="height:500px"></div>
    <script>
  
    var map;
    markers = [];
    var infowindows = [];
    contentStrings = [];
    var camp = [
        {% for camp in camps %}
            ['{{ camp.name }}',
              {{ camp.lat }},
              {{ camp.lon }},
              '{{ camp.description }}',
              '{{ camp.nbrefugie }}',
              '{{ path('tc_camp',{id:camp.id}) }}'
            ],
        {% endfor %}
            ]

    function initMap() 
    {
      map = new google.maps.Map(document.getElementById('map'), {center: {lat: 30, lng: 0}, zoom: 3});
      setMarkers(map);
    }

   function setMarkers(map)
    {
        for (var i = 0; i<camp.length; ++i) {
        var marker = new google.maps.Marker({
          position: {
            lat: camp[i][1],
            lng: camp[i][2]
          },
          map: map
        });
        var contentString = 
              '<div>'+
              '<h1>'+camp[i][0]+'</h1>'+
              '<div>'+
              '<p>'+camp[i][3] +'<br>Population: ' + camp[i][4] +'</p>'+
            '<a href="'+ camp[i][5]+'" type="button" class="btn btn-default pull-right" aria-label="Left Align">'+
            '<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>'+
            '</a>'+
              '</div>'+
              '</div>';
        attachSecretMessage(marker, contentString);
      }   
    }
    
      
        
    function attachSecretMessage(marker, secretMessage) {
          var infowindow = new google.maps.InfoWindow({
            content: secretMessage
          });

          marker.addListener('click', function() {
            infowindow.open(marker.get('map'), marker);
          });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY0xla5vv3VWRUl20UYumoeLcdMUD40xA&sensor=false&callback=initMap" async defer></script>

    <!-- Button trigger modal -->
    <div class="container-fluid">
        <div class="row">
        <button type="button" class="btn btn-primary btn-lg center-block" data-toggle="modal" data-target="#trouver" style="margin:40px auto">
            Trouver quelqu'un
        </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="trouver" tabindex="-1" role="dialog" aria-labelledby="trouverLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="trouverLabel">Trouver un membre</h4>
          </div>
          <div class="modal-body">
                {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary center-block">Rechercher</button>
                {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>



    <div>
    </div>

{% endblock %}